.container {
    margin: 20px;
    color: green;
}
.description1 {
    color: green;
    float: left;
}

.description2 {
    font-weight: bold;
    background-color: #ccff99;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}