.container {
	background-color: #ebe6e3;
	display: inline-block;
}
.name{
	text-align: top;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.one {
	display: inline-block;
	float:left;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 40px;
	position: relative;
}
.header {
    color: white;
    background-color: #47413a;
    text-align: center;
    margin-top: 0px;
}
.picture {
	clear:left;
	margin-left: 10px;
}
.description {
	margin-right: -22px;
	margin-left: -25px;
	margin-top: 35px;
	width: 400px;
	height: 50px;
	font-size: 18px;
}
.contact {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 22px;
}
.links {
	margin-top: 10px;
}